<p>terminationreminders works!</p>
<ul class="duepays">
    <li *ngFor="let reminder of reminders">
        <p>Customer-Id: {{reminder.customer.id}}</p>
        <p>Customer-Name: {{reminder.customer.name}}</p>
        <p>Due Date: {{reminder.dueDate}}</p>
        <p>Dueamount: {{reminder.dueamount}}</p>
        <button (click)="paidCustomers(reminder.phoneNumber)">Pay Full Amount</button>
        <button (click)="paymentPlan(reminder.customer.id)">PaymentPlan(Pay in two installments)</button>
    </li>
</ul>
