<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav">
    
        <a class="nav-link" routerLink="/customer">Customers</a>
    
        <a class="nav-link" routerLink="/due-payments">DuePaymnetsCustomers</a>

        <a class="nav-link" routerLink="/firstreminders">Inital Reminders</a>
    
        <a class="nav-link" routerLink="/secondreminders">Second Reminders</a>

        <a class="nav-link" routerLink="/terminationreminders">Termination Reminder</a>

        <a class="nav-link" >Completed Payments</a>

    </ul>
  </nav>
  