<h2>Customers</h2>
<ul class="customers">
    <li *ngFor='let customer of Customers'>
        <p>Id: {{customer.id}}</p>
        <p>
            Name: {{customer.name}}
        </p>
        <p>
            Mail-Id: {{customer.mailId}}
        </p>
        <p> Amount: {{customer.amount}}</p>
        <p>
            Phone Number: {{customer.phoneNumber}}
        </p>   
</li>
       
     
<div class="addCustomer">
    <h2>Details</h2>
    <form (submit)="addCustomer(newCustomer)">
      <label for="name">Name:</label>
      <input [(ngModel)]="newCustomer.name" type="text" id="name" name="name" required>
      <br><br>
      <label for="mailId">Mail-Id:</label>
      <input [(ngModel)]="newCustomer.mailId" type="text" id="mailId" name="mailId" required>
      <br><br>
      <label for="phoneNumber">Phone Number:</label>
      <input [(ngModel)]="newCustomer.phoneNumber" type="text" id="phoneNumber" name="phoneNumber" required>
      <button type="submit">Continue</button>
    </form>
  </div>
</ul>