<!-- <p>login works!</p>
<div>
        <h2>Details</h2>
        <form (submit)="addCustomer(newCustomer)">
          <label for="name">Name:</label>
          <input [(ngModel)]="newCustomer.name" type="text" id="name" name="name" required>
          <br><br>
          <label for="mailId">Mail-Id:</label>
          <input [(ngModel)]="newCustomer.mailId" type="text" id="mailId" name="mailId" required>
          <br><br>
          <label for="phoneNumber">Phone Number:</label>
          <input [(ngModel)]="newCustomer.phoneNumber" type="text" id="phoneNumber" name="phoneNumber" required>
         
           
            <label>DueDate:</label>
            <input [(ngModel)]="newCustomer.dueDate" type="text" id="dueDate" name="dueDate" placeholder="in days" required>
            <label>PaymentPlans</label>
            <select [(ngModel)]="newCustomer.PaymentPlan" id="PaymentPlans" name="PaymentPlans" required>
            <option value="Basic">Basic</option>
            <option value="Premium">Premium</option>
            </select>

          <button type="submit">Continue</button>
        </form>
      </div> -->